<div class="main_visual_container">

	<div id="container">
			<div class="main_visual_text_container">
		<p class="main_visual_text font-family font_3">
			The world is a book<br>
			and those who do not travel<br>
			read only one page.<br>
			<br>
			St. Augustine
		</p>
	</div>
		<div id="theTarget">
			<div class="slide_top_image1 slide"></div>
			<div class="slide_top_image2 slide"></div>
			<div class="slide_top_image3 slide"></div>
			<div class="slide_top_image4 slide"></div>
			<div class="slide_top_image5 slide"></div>
		</div>
	</div>
</div>

<h1 class="font-family" style="text-align: center; font-size: 45px; margin: 100px;">Welcome To <strong style="font-size: 56.25px;">CARAVAN</strong></h1>

<div class="about_container">
	<div class="about_image"></div>
</div>

<p class="font-family" style="text-align: center; font-size: 28.8px; margin-top: 50px;">"Every day is still Day One"</p>