<div class="main_visual_container">

	<div id="container">
			<div class="main_visual_text_container">
		<p class="main_visual_text font-family">
			The world is a book<br>
			and those who do not travel<br>
			read only one page.<br>
			<br>
			St. Augustine
		</p>
	</div>
		<div id="theTarget">
			<div class="slide_top_image1 slide"></div>
			<div class="slide_top_image2 slide"></div>
			<div class="slide_top_image3 slide"></div>
			<div class="slide_top_image4 slide"></div>
			<div class="slide_top_image5 slide"></div>
		</div>
	</div>
</div>

<%= link_to 'Log in', new_user_session_path %>
<%= link_to 'Sign Up', new_user_registration_path %>